button {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;

  position: static;
  width: 288.63px;
  height: 40px;
  left: 0px;
  top: 74px;

  background: #eee9f5;

  /* Bipou/Primary */

  border: 1px solid #9063cd;
  box-sizing: border-box;
  border-radius: 8px;
  width: 217px;
  height: 35px;
  left: 16px;
  top: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 8px 0px;
  color: #9063cd;
  cursor: pointer;
}
